.app-container{
    display: flex;
}
.content{
    width: 100%;
}
.sidebar{
    min-height: 695px;
    background-attachment: fixed;
}

.rowPost{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.deleteIcon{
    color: red;
    width: 30px;
    height: 30px;
}
.tag{
    padding: 5px;
    border-radius: 10px;
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.hastag{
     margin:0 2px;
}
.alert{
    margin: 10px 0 0 0;
}
.welcome{
    margin: 100px 0;
}